<div class="wrraper top-wrap clearfix">
  <!-- Dropdowns -->
  <app-common-nav-top [masterData]="pageName"></app-common-nav-top>
  <!-- Dropdowns -->

  <div class="pt10">
    <form class="form-horizontal" novalidate [formGroup]="addForm" (submit)="onSubmit()">
      <div class="">
        <div class="form-group">
          <div class="col-sm-12 col-md-3 col-lg-2 col-xs-12">
            <label class="control-label" for="address_1">Mailing Address: *</label>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6 col-xs-12">
            <textarea class="form-control" formControlName="address_1" id="address_1" placeholder="Mailing Address" name="address_1"
              rows="3" [ngClass]="{'is-invalid':addressFormErrors.address_1, '': !addressFormErrors.address_1}"></textarea>
            <div [hidden]="!addressFormErrors.address_1" class="invalid-feedback">
              {{ addressFormErrors.address_1 }}
            </div>
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="form-group">
          <div class="col-sm-12 col-md-3 col-lg-2 col-xs-12">
            <label class="control-label" for="address_2">Address 2:</label>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6 col-xs-12">
            <textarea class="form-control" formControlName="address_2" id="address_2" placeholder="Address 2" name="address_2" rows="3"></textarea>
          </div>
          <div class="clearfix"></div>
        </div>


        <div class="form-group">
          <div class="col-sm-12 col-md-3 col-lg-2 col-xs-12">
            <label class="control-label" for="city">City: </label>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6 col-xs-12">
            <input type="text" class="form-control" id="city" formControlName="city" placeholder="City" name="city" />
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="form-group">
          <div class="col-sm-12 col-md-3 col-lg-2 col-xs-12">
            <label class="control-label" for="state">State: </label>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6 col-xs-12">
            <input type="text" class="form-control" id="state" formControlName="state" placeholder="State" name="state" />
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="form-group">
          <div class="col-sm-12 col-md-3 col-lg-2 col-xs-12">
            <label class="control-label" for="postal_code">Postal Code: *</label>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6 col-xs-12">
            <input type="text" class="form-control" id="postal_code" formControlName="postal_code" placeholder="Postal Code" name="postal_code"
              [ngClass]="{'is-invalid':addressFormErrors.postal_code, '': !addressFormErrors.postal_code}" />
            <div [hidden]="!addressFormErrors.postal_code" class="invalid-feedback">
              {{ addressFormErrors.postal_code }}
            </div>
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="form-group">
          <div class="col-sm-12 col-md-3 col-lg-2 col-xs-12">
            <label class="control-label" for="country">Country: *</label>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6 col-xs-12">
            <select class="form-control" id="country" name="country" formControlName="country" [ngClass]="{'is-invalid':addressFormErrors.country, '': !addressFormErrors.country}">
              <option value="">-- Select Country --</option>
              <option *ngFor="let country of countryList" [ngValue]="country.value">
                {{ country.value }}
              </option>
            </select>
            <div [hidden]="!addressFormErrors.country" class="invalid-feedback">
              {{ addressFormErrors.country }}
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>

      <div class="col-md-12 col-sm-12 col-xs-12 padding-zero mb20">
        <hr>
        <div class="float-right">
          <a href="javascript:void(0);" class="mr10" (click)="onSubmit()">
            <i class="fa fa-check-circle save_icon"></i>
          </a>
          <a href="javascript:void(0);" (click)="backToList()">
            <i class="fa fa-times-circle cancel_icon"></i>
          </a>
        </div>
      </div>
    </form>
  </div>
</div>