<div class="wrraper top-wrap clearfix">

  <div class="col-md-12">
    <button type="button" class="btn btn-sm btn-success" (click)="set_AgrisourceDataAdmin_LoginData();">Set AgrisourceData_Admin Login</button>
    &nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-sm btn-success" (click)="set_Adminstrator_LoginData();">Set Adminstrator Login</button>
    <br/><br/>    
    <button type="button" class="btn btn-sm btn-primary" (click)="clearLoginData();">Clear Login Data</button>
    <br/>
  </div>

</div>