<!-- location -->
<div class="box-location-inp box-location-y top">
  <span class="inner-txt-location">Location</span>
  <input type="text" class="input-effect" placeholder="Big A farm, Ranch 21, Section 3A">
  <i class="zmdi zmdi-pin"></i>
  <a href="#" class="dropdown-toggle location" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="zmdi zmdi-chevron-down"></i>
  </a>
  <div class="user-menu location-dropdown dropdown-menu">
    <ul>
      <li>item example</li>
      <li>item example</li>
      <li>item example</li>
    </ul>
  </div>
</div>
<!-- //location -->

<!-- fixed popup  -->
<div class="fixed-box-layers box-layers-map flash-anim">
  <div class="alert-primary">Layers</div>
  <div class="inner-box-switch">
    <ul class="list-locations">
      <li>
        <span class="header-txt-switch txt-switch">Locations (inclusive)</span>
        <label class="switch">
          <input type="checkbox" checked>
          <span class="slider-btn round"></span>
        </label>
      </li>
      <li>
        <span class="txt-switch">Farm</span>
        <label class="switch">
          <input type="checkbox" checked>
          <span class="slider-btn round"></span>
        </label>
      </li>
      <li>
        <span class="txt-switch">Section</span>
        <label class="switch">
          <input type="checkbox" checked>
          <span class="slider-btn round"></span>
        </label>
      </li>
      <li>
        <span class="txt-switch">Field</span>
        <label class="switch">
          <input type="checkbox">
          <span class="slider-btn round"></span>
        </label>
      </li>
      <li>
        <span class="txt-switch">Mgmt Zones</span>
        <label class="switch">
          <input type="checkbox" checked>
          <span class="slider-btn round"></span>
        </label>
      </li>
      <li>
        <span class="txt-switch">Soil Texture</span>
        <label class="switch">
          <input type="checkbox">
          <span class="slider-btn round"></span>
        </label>
      </li>
    </ul>
    <hr>
    <ul class="second-list">
      <li>
        <span class="txt-switch">Heatmap</span>
        <label class="switch">
          <input type="checkbox">
          <span class="slider-btn round"></span>
        </label>
      </li>
      <li>
        <span class="txt-switch">NDVI Imagery</span>
        <label class="switch">
          <input type="checkbox">
          <span class="slider-btn round"></span>
        </label>
      </li>
      <li>
        <span class="txt-switch">Stress</span>
        <label class="switch">
          <input type="checkbox">
          <span class="slider-btn round"></span>
        </label>
      </li>
      <li>
        <span class="txt-switch">Vigor</span>
        <label class="switch">
          <input type="checkbox">
          <span class="slider-btn round"></span>
        </label>
      </li>
      <li>
        <span class="txt-switch">Alerts</span>
        <label class="switch">
          <input type="checkbox">
          <span class="slider-btn round"></span>
        </label>
      </li>
      <li>
        <span class="txt-switch">Scouting Report Result</span>
        <label class="switch">
          <input type="checkbox">
          <span class="slider-btn round"></span>
        </label>
      </li>
    </ul>
    <hr>
    <ul class="list-sensor">
      <li>
        <span class="header-txt-switch txt-switch">In-field sensors:</span>
      </li>
      <li>
        <span class="txt-switch">Soil Moisture</span>
        <label class="switch">
          <input type="checkbox">
          <span class="slider-btn round"></span>
        </label>
      </li>
      <li>
        <span class="txt-switch">Weather Stations</span>
        <label class="switch">
          <input type="checkbox">
          <span class="slider-btn round"></span>
        </label>
      </li>
      <li>
        <span class="txt-switch">Fuel Monitoring</span>
        <label class="switch">
          <input type="checkbox" checked>
          <span class="slider-btn round"></span>
        </label>
      </li>
    </ul>
  </div>
</div>
<!-- //fixed popup  -->

<!-- map -->
<div id="map" #gmap></div>
<!-- //map -->