<div class="wrraper top-wrap clearfix">

  <div class="col-md-12">
    <div class="error-page m-t-xxxl">
      <div class="error-content m-n">
        <h3>
          <i class="fa fa-warning text-danger"></i> Oops! Something went wrong.</h3>
          <br/>
        <p>
          You are not authorize to access this page. Meanwhile, you may return to
          <a class="pagelink text-success" [routerLink]="['/home']" routerLinkActive="active"> home</a> page.
        </p>
      </div>
    </div>
  </div>

</div>