<div class="wrraper top-wrap clearfix">

  <!-- Dropdowns -->
  <app-common-nav-top [masterData]="pageName"></app-common-nav-top>
  <!-- Dropdowns -->

  <div class="box-sensors-indicators tasks">
    <!-- table alerts -->
    <div class="table-responsive box-table">
      <table class="table-recom table table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col">Action</th>
            <th scope="col" (click)="sort('name')">
              Name
              <i class="fa fa-sm mt-2" *ngIf="sortColumn =='name'" [ngClass]="{'fa-chevron-up':!reverse,'fa-chevron-down':reverse}"></i>
            </th>
            <th scope="col" (click)="sort('sensorid')">
              SensorId
              <i class="fa fa-sm mt-2" *ngIf="sortColumn =='sensorid'" [ngClass]="{'fa-chevron-up':!reverse,'fa-chevron-down':reverse}"></i>
            </th>
            <th scope="col" (click)="sort('type')">
              Type
              <i class="fa fa-sm mt-2" *ngIf="sortColumn =='type'" [ngClass]="{'fa-chevron-up':!reverse,'fa-chevron-down':reverse}"></i>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sensor of sensors |  orderBy: sortColumn : reverse | paginate: { id: 'paging', itemsPerPage: pageSize, currentPage: pageNo, totalItems: totalItems }">
            <th scope="row">
              <ul>
                <li class="item-list-ch item-list-add" *ngIf="commonService.hasUpdateAccess(userAccessRole)">
                  <a (click)="editSensor(sensor);"></a>
                </li>
                <li class="item-list-ch item-list-delete" *ngIf="commonService.hasDeleteAccess(userAccessRole)">
                  <a (click)="deleteSensor(sensor);"></a>
                </li>
                <li class="item-list-ch item-list-user" *ngIf="commonService.hasReadAccess(userAccessRole)">
                  <a (click)="viewSensor(sensor);"></a>
                </li>
              </ul>
            </th>
            <td>
              {{ sensor.name }}
            </td>
            <td>
              {{ sensor.sensorid }}
            </td>
            <td>
              {{ sensor.type }}
            </td>
          </tr>
          <tr *ngIf="sensors.length == 0">
            <th></th>
            <td colspan="3" class="text-center">No records found.</td>
          </tr>
        </tbody>
      </table>

      <div class="col-sm-12 row pr0">
        <div class="col-md-8 form-group">
          <pagination-controls id="paging" (pageChange)="getPage($event)" *ngIf="sensors.length > 0"></pagination-controls>
        </div>
        <div class="col-md-4 form-group text-right pr0">
          <!-- //table alerts -->
          <div class="add-task-box" *ngIf="commonService.hasCreateAccess(userAccessRole)">
            <a href="javascript:void(0);" (click)="addSensor();" class="cl-green">
              <span>
                <i class="fa fa-plus add_icon" title="Add New Sensor "></i>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>